extends ../layouts/main.pug
block main_content
    main.container
        div.row.justify-content-center
            div.col-md-8.col-xl-4.col-xxl-4
                h2.text-center Join as new user
                if typeof(errorData) === 'string'
                    div.alert.alert-danger.alert-dismissible.fade.show(role='alert')= errorData
                        button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
                -
                    formData ||= {}
                    const emailError=errorData instanceof Map ? errorData.get('email') : undefined
                form(method='post' action='/auth/register')
                    div.mb-3
                        label(for='user_email') Email address
                        input#user_email.form-control(class=emailError?'is-invalid':'' type='email' name='email' placeholder='Email' aria-describedby=emailError?'user_email_feedback':'' value=formData.email)
                        if emailError
                            div#user_email_feedback.invalid-feedback= emailError
                    div.mb-3
                        label(for='user_password') Password
                        input#user_password.form-control(type='password' name='password' placeholder='Password')
                    button.btn.btn-primary(type='submit') Register
